# Import Library

In [1]:
import pandas as pd

In [2]:
# Load the CSV file
df = pd.read_csv("./Data/retail_sales_dataset.csv") 
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
996,997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
997,998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
998,999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
999,1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

# Define Functions

In [3]:
def clean_column_name(col_name):
    return col_name.lower().replace(" ", "_")

# 1. Standardize Column Names (Lowercasing and Replacing Spaces)

In [4]:
df.columns = [clean_column_name(col) for col in df.columns]
df

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
996,997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
997,998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
998,999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
999,1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

# 2. Data Cleaning (Example: Handling Missing Values - Adapt as needed)

In [5]:
# Check for missing values
print("Missing Values Before Cleaning:\n", df.isnull().sum())

Missing Values Before Cleaning:
 transaction_id      0
date                0
customer_id         0
gender              0
age                 0
product_category    0
quantity            0
price_per_unit      0
total_amount        0
dtype: int64

In [6]:
# Example 1: Drop rows with any missing values (Use with caution!)
df.dropna(inplace=True)  # Uncomment if you want to drop rows with NaNs

# Example 2: Fill missing values (Choose a strategy based on your data)
# For numerical columns (e.g., age, price_per_unit):
df['age'].fillna(df['age'].median(), inplace=True) # Fill with median
df['price_per_unit'].fillna(df['price_per_unit'].mean(), inplace=True)  # Fill with mean

# Example 3: Fill missing values in 'age' based on 'gender'
df['age'] = df.groupby('gender')['age'].transform(lambda x: x.fillna(x.median()))

In [7]:
# For categorical columns (e.g., gender, product_category)
df['gender'].fillna(df['gender'].mode()[0], inplace=True) # Fill with mode

In [8]:
print("\nMissing Values After Cleaning:\n", df.isnull().sum())

Missing Values After Cleaning:
 transaction_id      0
date                0
customer_id         0
gender              0
age                 0
product_category    0
quantity            0
price_per_unit      0
total_amount        0
dtype: int64

# 3. Data Type Conversion (If Necessary)

In [9]:
# Example: Convert 'date' to datetime objects
df['date'] = pd.to_datetime(df['date'])
df['date']

0     2023-11-24
1     2023-02-27
2     2023-01-13
3     2023-05-21
4     2023-05-06
         ...
995   2023-05-16
996   2023-11-17
997   2023-10-29
998   2023-12-05
999   2023-04-12
Name: date, Length: 1000, dtype: datetime64[ns]

In [10]:
# Example: Convert numerical columns to appropriate types
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce') # Handle invalid values by setting them to NaN
df['price_per_unit'] = pd.to_numeric(df['price_per_unit'], errors='coerce')
df['total_amount'] = pd.to_numeric(df['total_amount'], errors='coerce')

# 4.  Other Data Cleaning Steps (Examples)

In [11]:
# a. Remove duplicate rows:
df.drop_duplicates(inplace=True)

In [12]:
# b. Handling Outliers (Consider using box plots or other visualizations to identify outliers first)
# Example: Removing outliers in 'total_amount' using IQR method
Q1 = df['total_amount'].quantile(0.25)
Q3 = df['total_amount'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['total_amount'] >= Q1 - 1.5*IQR) & (df['total_amount'] <= Q3 + 1.5*IQR)]

In [13]:
# c. Correcting Inconsistent Data (e.g., different spellings for the same category)
df['product_category'] = df['product_category'].str.strip().str.lower() # Remove leading/trailing spaces and convert to lowercase

# Display Cleaned Data

In [14]:
# Display the cleaned data (first few rows)
print("\nCleaned Data (First 5 rows):\n", df.head())

Cleaned Data (First 5 rows):
    transaction_id       date customer_id  gender  age product_category  \
0               1 2023-11-24     CUST001    Male   34           beauty
1               2 2023-02-27     CUST002  Female   26         clothing
2               3 2023-01-13     CUST003    Male   50      electronics
3               4 2023-05-21     CUST004    Male   37         clothing
4               5 2023-05-06     CUST005    Male   30           beauty

   quantity  price_per_unit  total_amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100

In [15]:
# Save the cleaned data to a new CSV file (optional)
df.to_csv("./Data/CleanedRetailSalesData.csv", index=False)